services:
  app:
    image: ghcr.io/maaldheefee/dhivehi-translation-arena:main
    container_name: dhivehi-translation-arena-prod
    restart: always
    volumes:
      - dhivehi-translation-data:/app/data
    expose:
      - 8101
    env_file:
      - .env
    environment:
      - FLASK_ENV=production
      - DATA_DIR=/app/data
    command: ["gunicorn", "-w", "1", "-b", "0.0.0.0:8101", "wsgi:app"]
    networks:
      - translation-net-prod

networks:
  translation-net-prod:
    driver: bridge

volumes:
  dhivehi-translation-data:
    driver: local
